<link href="{{=URL('static/layout', 'vendor/sweetalert/css/sweetalert.css')}}" rel="stylesheet">
<script src="{{=URL('static/layout', 'vendor/sweetalert/js/sweetalert.min.js')}}"></script>

<script>
    function baja_elem(url) {
        swal(
            {
                title: '¿Estás seguro?',
                text: '¿Desea dar baja a este estudiante?',
                type: 'warning',
                showCancelButton: !0,
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Dar baja',
                cancelButtonText: 'Cancelar',
            },
            function (e) {
                e
                    ? location.href = url
                    : '';
            }
        );

    }
</script>