{{extend 'layout_admin.html'}}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Gestionar temas de tesis pendientes</h4>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Título</th>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>CI</th>
                                <th>Usuario</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{for row in pendientes:}}
                            <tr>
                                <td>{{=row.tesis.titulo}}</td>
                                <td>{{=row.admision.nombre}}</td>
                                <td>{{=row.admision.apellido1 +' '+ row.admision.apellido2}}</td>
                                <td>{{=row.admision.ci}}</td>
                                <td>
                                    <a href="{{=URL('usuario', 'detalles', args=row.admision.id_user)}}">
                                        {{=row.admision.id_user.username}}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{=URL('modificar_estado', args=row.tesis.id)}}"
                                        class="btn btn-primary btn-rounded text-white mb-2">
                                        <i class="fas fa-edit"></i>
                                        Modificar estado
                                    </a>
                                </td>
                                <td>
                                    <a href="{{=URL('detalles', args=row.tesis.id)}}"
                                        class="btn btn-info btn-rounded text-white mb-2">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                    <a href="#" onclick="delete_elem(`{{=URL('eliminar', args=row.tesis.id)}}`)"
                                        class="btn btn-danger btn-rounded text-white mb-2">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {{pass}}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Título</th>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>CI</th>
                                <th>Usuario</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
