<link href="{{=URL('static/layout', 'vendor/tables/css/datatable/dataTables.bootstrap4.min.css')}}" rel="stylesheet">
<link href="{{=URL('static/layout', 'vendor/tables/css/extensions/responsive.dataTables.min.css')}}" rel="stylesheet">

<script src="{{=URL('static/layout', 'vendor/tables/js/jquery.dataTables.min.js')}}"></script>
<script src="{{=URL('static/layout', 'vendor/tables/js/datatable/dataTables.bootstrap4.min.js')}}"></script>
<script src="{{=URL('static/layout', 'vendor/tables/js/datatable/dataTables.responsive.min.js')}}"></script>
