{{ extend 'layout_login.html' }}

<div class="h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-xl-12">
                <div class="form-input-content">
                    <div class="card mb-0">
                        <div class="card-body pt-5">
                            <div class="d-flex align-items-center flex-wrap justify-content-center pd-20">
                                <div class="pd-10">
                                    <div class="text-center">
                                        <h1 class="mb-2">Información</h1>
                                        <h4 class="mb-4">
                                            No existen ediciones activas de la maestría </h4>
                                        <div class="pt-20 mx-auto" style="max-width: max-content;">
                                            <a href="{{=URL('default', 'index')}}"
                                                class="btn btn-success btn-block btn-lg">Volver al inicio</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>