{{extend 'layout_admin.html'}}

<a href="{{=URL('manage')}}" class="btn mb-3 btn-rounded btn-primary">
    <span><i class="fa fa-arrow-left"></i> </span>
</a>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ver créditos</h4>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Evidencia</th>
                                <th>Créditos</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{for credito in creditos:}}
                            <tr>
                                <td>
                                    <a href="{{=URL('default', 'download', args=credito.evidencia)}}"
                                        class="btn btn-success" target="_blank">
                                        <i class="fa fa-download"></i>
                                        Evidencia
                                    </a>
                                </td>
                                <td>{{=credito.creditos}}</td>
                            </tr>
                            {{pass}}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Evidencia</th>
                                <th>Créditos</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>