{{extend 'layout_admin.html'}}

<a href="{{=URL('admision', 'manage')}}" class="btn mb-3 btn-rounded btn-info">
    <span><i class="fa fa-arrow-left"></i> </span>
</a>

<div class="row">
    <div class="col-12 col-lg-8">
        <div class="card">
            <div class="card-header">
                <strong>Baja</strong> a estudiante
            </div>
            <div class="card-body card-block">
                {{=form.custom.begin}}
                <div class="col-md-12">
                    {{=form.custom.label.causa}}
                    <span class="error">*</span>
                </div>
                <div class="col-md-12">
                    {{=form.custom.widget.causa}}
                </div>
                <div class="col-md-12 mt-4">
                    {{=form.custom.submit}}
                </div>
                {{=form.custom.end}}
            </div>
        </div>
    </div>
</div>
