{{extend 'layout_admin.html'}}

{{block head}}
<style>
    /* Font Definitions */
    @font-face {
        font-family: "Cambria Math";
        panose-1: 2 4 5 3 5 4 6 3 2 4;
    }

    @font-face {
        font-family: Calibri;
        panose-1: 2 15 5 2 2 2 4 3 2 4;
    }

    /* Style Definitions */
    p.MsoNormal,
    li.MsoNormal,
    div.MsoNormal {
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 5.65pt;
        margin-left: .5pt;
        text-align: justify;
        text-indent: -.5pt;
        line-height: 103%;
        font-size: 12.0pt;
        font-family: "Arial", "sans-serif";
        color: black;
    }

    .MsoChpDefault {
        font-family: "Calibri", "sans-serif";
    }

    .MsoPapDefault {
        margin-bottom: 8.0pt;
        line-height: 107%;
    }

    @page WordSection1 {
        size: 8.5in 11.0in;
        margin: 70.85pt 85.05pt 70.85pt 85.05pt;
    }

    div.WordSection1 {
        page: WordSection1;
    }
</style>
{{end head}}

<div class="row">
    <div class="col-6">
        <button class="btn btn-success mb-3" onclick="exportDoc()">
            <i class="fa fa-save mr-2"></i>
            Guardar
        </button>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-primary mb-3" href="{{=URL('static/modelos', 'pg-09.docx')}}" target="_blank">
            <i class="fa fa-file-text mr-2"></i>
            Modelo PG-09 sin datos
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title mb-3">Acta de defensa - Modelo PG 09</strong>
            </div>

            <div class="card-body">
                <div id="exportContent" contentEditable="true" class="mt-2" style="margin: auto;width: 600px;">
                    <div class=WordSection1>

                        <p class=MsoNormal align=left style='margin-top:0in;margin-right:134.1pt;
                        margin-bottom:.15pt;margin-left:.85pt;text-align:left;line-height:100%'><b><span
                                    lang=ES-TRAD>PG-09 </span></b></p>

                        <p class=MsoNormal align=center style='margin-top:0in;margin-right:4.95pt;
                        margin-bottom:.55pt;margin-left:2.0pt;text-align:center'><b><span lang=ES-TRAD>
                            <b>{{=centro.upper()}}</b>
                                </span></b></p>

                        <p class=MsoNormal align=left style='margin:0in;margin-bottom:.0001pt;
                        text-align:left;text-indent:0in;line-height:107%'><span lang=ES-TRAD
                                style='font-family:"Times New Roman","serif"'> </span></p>

                        <p class=MsoNormal align=center style='margin-top:0in;margin-right:4.8pt;
                        margin-bottom:.55pt;margin-left:2.0pt;text-align:center'><b><span lang=ES-TRAD>ACTA
                                    DE DEFENSA </span></b></p>

                        <p class=MsoNormal align=center style='margin-top:0in;margin-right:.1pt;
                        margin-bottom:0in;margin-left:0in;margin-bottom:.0001pt;text-align:center;
                        text-indent:0in;line-height:107%'><span lang=ES-TRAD> </span></p>

                        <p class=MsoNormal align=left style='margin:0in;margin-bottom:.0001pt;
                        text-align:left;text-indent:0in;line-height:107%'><b><span lang=ES-TRAD> </span></b></p>

                        <p class=MsoNormal align=left style='margin-top:0in;margin-right:0in;
                        margin-bottom:.15pt;margin-left:.85pt;text-align:left;line-height:100%'><span lang=ES-TRAD>En
                                __________________________________ siendo las ______ horas del
                                día ____del mes de ____________________ del año _________, se reúne el tribunal
                                integrado por: </span></p>

                        <p class=MsoNormal align=left style='margin:0in;margin-bottom:.0001pt;
                        text-align:left;text-indent:0in;line-height:107%'><span lang=ES-TRAD> </span></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:3.0pt;margin-bottom:.5pt;
                        margin-left:35.9pt'><span lang=ES-TRAD>Presidente: </span></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:3.0pt;margin-bottom:.5pt;
                        margin-left:35.9pt'><span lang=ES-TRAD>__________________________________________________
                            </span></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:3.0pt;margin-bottom:.5pt;
                        margin-left:35.9pt'><span lang=ES-TRAD>Secretario: </span></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:9.3pt;margin-bottom:0in;
                        margin-left:35.9pt;margin-bottom:.0001pt'><span
                                lang=ES-TRAD>__________________________________________________
                            </span></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:9.3pt;margin-bottom:0in;
                        margin-left:35.9pt;margin-bottom:.0001pt'><span lang=ES-TRAD>Miembro
                                (Oponente): </span></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:59.3pt;margin-bottom:
                        0in;margin-left:35.9pt;margin-bottom:.0001pt'><span
                                lang=ES-TRAD>__________________________________________________
                            </span></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:59.3pt;margin-bottom:
                        0in;margin-left:35.9pt;margin-bottom:.0001pt'><span lang=ES-TRAD>Miembro: </span></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:3.0pt;margin-bottom:0in;
                        margin-left:35.9pt;margin-bottom:.0001pt'><span
                                lang=ES-TRAD>___________________________________________________
                                Miembro: </span></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:3.0pt;margin-bottom:.5pt;
                        margin-left:35.9pt'><span lang=ES-TRAD>___________________________________________________
                            </span></p>

                        <p class=MsoNormal align=left style='margin:0in;margin-bottom:.0001pt;
                        text-align:left;text-indent:0in;line-height:107%'><span lang=ES-TRAD> </span></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:3.0pt;margin-bottom:0in;
                        margin-left:.85pt;margin-bottom:.0001pt'><span lang=ES-TRAD>para la defensa del
                                trabajo para la evaluación final de maestría (x), especialidad ( ), diplomado
                                (  ), titulado: </span></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:3.0pt;margin-bottom:.5pt;
                        margin-left:.85pt'><span
                                lang=ES-TRAD>_______________________________________________________________</span></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:3.0pt;margin-bottom:.5pt;
                        margin-left:.85pt'><span
                                lang=ES-TRAD>_______________________________________________________________</span></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:3.0pt;margin-bottom:.5pt;
                        margin-left:.85pt'><span lang=ES-TRAD>__________________________ </span></p>

                        <p class=MsoNormal align=left style='margin:0in;margin-bottom:.0001pt;
                        text-align:left;text-indent:0in;line-height:107%'><span lang=ES-TRAD> </span></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:3.0pt;margin-bottom:.5pt;
                        margin-left:.85pt'><span lang=ES-TRAD>presentada por el estudiante: </span></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:3.0pt;margin-bottom:.5pt;
                        margin-left:.85pt'><span lang=ES-TRAD>_______________________________________________
                            </span></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:3.0pt;margin-bottom:.5pt;
                        margin-left:.85pt'><span lang=ES-TRAD>para la obtención del título o certificado
                                de </span></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:3.0pt;margin-bottom:.5pt;
                        margin-left:.85pt'><span lang=ES-TRAD>__________________________________________
                            </span></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:3.0pt;margin-bottom:.5pt;
                        margin-left:.85pt'><span
                                lang=ES-TRAD>_______________________________________________________________</span></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:3.0pt;margin-bottom:.5pt;
                        margin-left:.85pt'><span lang=ES-TRAD>_____________ </span></p>

                        <p class=MsoNormal align=left style='margin-top:0in;margin-right:0in;
                        margin-bottom:5.25pt;margin-left:0in;text-align:left;text-indent:0in;
                        line-height:107%'><span lang=ES-TRAD> </span></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:3.0pt;margin-bottom:5.65pt;
                        margin-left:.85pt'><span lang=ES-TRAD>Después de escuchada la exposición del
                                estudiante y las respuestas a las preguntas formuladas, así como evaluada la
                                calidad del documento presentado, se arriba a las conclusiones siguientes: </span></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:3.0pt;margin-bottom:.5pt;
                        margin-left:.85pt'><span
                                lang=ES-TRAD>_______________________________________________________________</span></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:3.0pt;margin-bottom:.5pt;
                        margin-left:.85pt'><span
                                lang=ES-TRAD>_______________________________________________________________</span></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:3.0pt;margin-bottom:.5pt;
                        margin-left:.85pt'><span
                                lang=ES-TRAD>_______________________________________________________________</span></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:3.0pt;margin-bottom:.5pt;
                        margin-left:.85pt'><span
                                lang=ES-TRAD>_______________________________________________________________</span></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:3.0pt;margin-bottom:.5pt;
                        margin-left:.85pt'><span lang=ES-TRAD>____________________________________________________
                            </span></p>

                        <p class=MsoNormal align=left style='margin:0in;margin-bottom:.0001pt;
                        text-align:left;text-indent:0in;line-height:107%'><span lang=ES-TRAD> </span></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:3.0pt;margin-bottom:0in;
                        margin-left:.85pt;margin-bottom:.0001pt'><span lang=ES-TRAD>Se acuerda otorgar,
                                sobre la base de la votación directa del tribunal (votos a favor____; en
                                contra____), la calificación de Excelente (   ), Bien (   ), Aprobado (   ),
                                Desaprobado (  ) al acto de defensa. </span></p>

                        <p class=MsoNormal align=left style='margin:0in;margin-bottom:.0001pt;
                        text-align:left;text-indent:0in;line-height:107%'><span lang=ES-TRAD> </span></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:3.0pt;margin-bottom:.5pt;
                        margin-left:.85pt'><span lang=ES-TRAD>Además, se recomienda lo siguiente:
                                _______________________________________________________________</span></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:3.0pt;margin-bottom:.5pt;
                        margin-left:.85pt'><span
                                lang=ES-TRAD>___________________________________________________________________________________________________________________________________________________________________
                            </span></p>

                        <p class=MsoNormal align=left style='margin:0in;margin-bottom:.0001pt;
                        text-align:left;text-indent:0in;line-height:107%'><span lang=ES-TRAD> </span></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:3.0pt;margin-bottom:.5pt;
                        margin-left:.85pt'><span lang=ES-TRAD>Y para que así conste, se firma la
                                presente: </span></p>

                        <p class=MsoNormal align=left style='margin-top:0in;margin-right:0in;
                        margin-bottom:10.9pt;margin-left:0in;text-align:left;text-indent:0in;
                        line-height:107%'><span lang=ES-TRAD> </span></p>

                        <p class=MsoNormal align=left style='margin-top:0in;margin-right:0in;
                        margin-bottom:.5pt;margin-left:0in;text-align:left;text-indent:0in'><span
                                lang=ES-TRAD>__________________ ______________________          ___________________
                            </span></p>

                        <p class=MsoNormal align=left style='margin-top:0in;margin-right:0in;
                        margin-bottom:11.4pt;margin-left:0in;text-align:left;text-indent:0in'><span lang=ES-TRAD
                                style='font-size:11.0pt;line-height:103%;font-family:"Calibri","sans-serif"'>              
                            </span><span lang=ES-TRAD>Presidente                               Secretario
                                                      Miembro
                                (Oponente) </span></p>

                        <p class=MsoNormal align=left style='margin-top:0in;margin-right:0in;
                        margin-bottom:.5pt;margin-left:0in;text-align:left;text-indent:0in'><span lang=ES-TRAD
                                style='font-size:11.0pt;line-height:103%;font-family:"Calibri","sans-serif"'>     
                            </span><span lang=ES-TRAD>_______________________                    
                                _______________________
                            </span></p>

                        <p class=MsoNormal align=left style='margin-top:0in;margin-right:0in;
                        margin-bottom:.5pt;margin-left:0in;text-align:left;text-indent:0in'><span lang=ES-TRAD
                                style='font-size:11.0pt;line-height:103%;font-family:"Calibri","sans-serif"'>                             
                            </span><span lang=ES-TRAD>Miembro                                                        
                                Miembro
                            </span></p>

                        <p class=MsoNormal align=left style='margin:0in;margin-bottom:.0001pt;
                        text-align:left;text-indent:0in;line-height:107%'><span lang=ES-TRAD> </span></p>

                        <p class=MsoNormal><span lang=ES-TRAD>(Anexar los informes de oponencia y de
                                tutoría. Si se trata de un Diplomado no hay Oponente)</span></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{block page_js}}
{{include '_includes/doc/toDoc.html'}}

<script>
    const docStyle = `
    <style>
        /* Font Definitions */
 @font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:5.65pt;
	margin-left:.5pt;
	text-align:justify;
	text-indent:-.5pt;
	line-height:103%;
	font-size:12.0pt;
	font-family:"Arial","sans-serif";
	color:black;}
.MsoChpDefault
	{font-family:"Calibri","sans-serif";}
.MsoPapDefault
	{margin-bottom:8.0pt;
	line-height:107%;}
@page WordSection1
	{size:8.5in 11.0in;
	margin:70.85pt 85.05pt 70.85pt 85.05pt;}
div.WordSection1
	{page:WordSection1;}
    </style>
    `;

    function exportDoc() {
        exportHTML('exportContent', 'acta_defensa', docStyle);
    }
</script>
{{end page_js}}

{{block datatable}}
{{end}}