{{extend 'layout_admin.html'}}

<a href="{{=URL('manage')}}" class="btn mb-3 btn-rounded btn-info">
    <span><i class="fa fa-arrow-left"></i> </span>
</a>


<div class="row">
    <div class="col-12 col-lg-8">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6">
                        <strong>Editar</strong> evidencia
                    </div>
                    <div class="col-6 text-right">
                        <div>
                            <a href="{{=URL('default', 'download', args=registro.evidencia)}}"
                                class="btn btn-rounded btn-success" target="_blank">
                                <i class="fa fa-download"></i>
                                Evidencia
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-body card-block">
                {{=form}}
            </div>
        </div>
    </div>
</div>